 /* リセットCSS */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.headline {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}
/* CSSでborderの横幅を指定することはできないので新しく要素を作った */
.border {
  padding-top: 8px;
  width: 70px;
  border-bottom: solid 3px #EC715F;
  margin: 0 auto;
}
.text {
  padding-top: 30px;
  text-align: center;
  color: #000000;
}

header {
  background-color: #EC715F;
}
.header-contents {
  width: 1024px;
  margin: 0 auto;
}
header, .logo{
  height: 70px;
}
nav {
  float: right;
}
.nav-list {
  /* line-height:要素を縦方向の中央に配置する（本来は行間を調整するためのプロパティ） */
  line-height: 70px;
}
.nav-list-item{
  font-size: 16px;
  color: #FAFAFA;
  display: inline-block;
  padding: 0 30px;
  float: left;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.main-visual-content {
  text-align: center;
  padding-top: 200px;
}
.main-visual-title {
  font-size: 64px;
  color: #FAFAFA;
}
.main-visual-subtitle {
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

.portfolio {
  width: 100%;
  background-color: #ECEFF1;
}
.port-contents {
  width: 920px;
  margin: 0 auto;
}
.port-boxes {
  padding-top: 30px;
}
.port-box {
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
/* 余白を3n-1番目のみにつける*/
.port-box:nth-child(3n-1) {
  margin: 0 10px 10px 0;
}
/* 余白を3n-2番目のみにつける*/
.port-box:nth-child(3n-2) {
  margin: 0 10px 10px 0;
}
.port-box:last-child {
  /* marginの相殺を期待 */
  margin-bottom: 90px;
}
.port-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.port-box:nth-child(2) {
  background-image: url(img/websuku.png);
}
.port-box:nth-child(3) {
  background-image: url(img/write.jpg);
}
.port-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.port-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.port-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature {
  width: 100%;
}
.strength-contents {
  width: 980px;
  padding-top: 30px;
  margin: 0 auto 90px;
}
.strength-content i {
  font-size: 60px;
}
.strength-content {
  width: 320px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
}
.strength-content:last-child  {
  margin: 0;
}
.strength-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}
.strength-text {
  font-size: 16px;
  color: #000000;
}

.profile {
  width: 100%;
  background-color: #ECEFF1;
}
.pro-contents {
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0 90px 0;

}
.pro-left-content {
  width: 512px;
  text-align: center;
  display: inline-block;
}
.pro-right-content {
  width: 512px;
  float: right;
}
.pro-title1 {
  padding-bottom: 5px;
  font-size: 20px;
  color: #000000;
}
.pro-text1 {
  font-size: 16px;
  color: #000000;
}
.pro-title2 {
  padding: 8px 0 5px 0;
  font-size: 20px;
  color: #000000;
}
.pro-text2 {
  font-size: 16px;
  color: #000000;
}

.contact {
  width: 100%;
}
.contact-contents {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
}
.contact-left-content {
  width: 400px;
  display: inline-block;
}
.contact-right-content {
  width: 400px;
  display: inline-block;
  float: right;
}
.contact-box {
  display: block;
  margin: 0 auto;
}
.contact-title {
  font-size: 20px;
}
.social {
  padding-top: 5px;
}
.fa {
  font-size: 50px;
  padding-right: 20px;
}

/* スマホだけに適用するCSS (iPhone7(375×667)でテスト済み) */
@media screen and (max-width: 479px) {
  /* 変更点のみを記述する */
}



